venv
*.vs
__pycache__/app.cpython-38.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/BlablacarProject.iml
*venv
*.idea
__pycache__/app.cpython-38.pyc